<!--
  The Side Bar
-->
<div id="sidebar" class="d-flex flex-column align-items-end" lang="{{lang}}">
    <div class="profile-wrapper text-center">
        <div id="avatar">
            <a href="{{ '/' | relative_url }}" alt="avatar" class="mx-auto">
          {% capture avatar_url %}
            {%- if site.avatar contains '://' -%}
              {{ site.avatar }}
            {%- elsif site.img_cdn != '' and site.img_cdn -%}
              {{ site.avatar | prepend: site.img_cdn }}
            {%- else -%}
              {{ site.avatar | relative_url }}
            {%- endif -%}
          {% endcapture %}
          <img src="{{ avatar_url }}" alt="avatar" onerror="this.style.display='none'">
        </a>
        </div>

        <div class="site-title mt-3">
            <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </div>
        <div class="site-subtitle font-italic mb-0">{{ site.tagline }}</div>
        <div class="dots">
            <span class="dot" style="background-color:#d9534f;"></span>
            <span class="dot" style="background-color:#ff8f17;"></span>
            <span class="dot" style="background-color:#f0ad4e;"></span>
            <span class="dot" style="background-color:#5cb85c;"></span>
            <span class="dot" style="background-color:#5bc0de;"></span>
            <span class="dot" style="background-color:#a45fed;"></span>
        </div>
    </div>
    <!-- .profile-wrapper -->

    <ul class="w-100">

        <!-- home -->
        <li class="nav-item{% if page.layout == 'home' %}{{ " active " }}{% endif %}">
            <a href="{{ '/' | relative_url }}" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home ml-xl-3 mr-xl-3 unloaded"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                <span>HOME</span>
            </a>
        </li>

        <!-- the real tabs -->
        <li class="nav-item {% if page.layout == 'categories' %}{{ " active " }}{% endif %}">
            <a href="/categories/" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid ml-xl-3 mr-xl-3 unloaded"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>


                <span>CATEGORIES</span>
            </a>
        </li>
        <!-- .nav-item -->

        <li class="nav-item {% if page.layout == 'tags' %}{{ " active " }}{% endif %}">
            <a href="/tags/" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag ml-xl-3 mr-xl-3 unloaded"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7.01" y2="7"></line></svg>


                <span>TAGS</span>
            </a>
        </li>
        <!-- .nav-item -->

        <li class="nav-item {% if page.layout == 'archives' %}{{ " active " }}{% endif %}">
            <a href="/archives/" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive ml-xl-3 mr-xl-3 unloaded"><polyline points="21 8 21 21 3 21 3 8"></polyline><rect x="1" y="3" width="22" height="5"></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg>


                <span>ARCHIVES</span>
            </a>
        </li>
        <!-- .nav-item -->

        <li class="nav-item {% if page.url == '/about/' %}{{ " active " }}{% endif %}">
            <a href="/about/" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info ml-xl-3 mr-xl-3 unloaded"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>


                <span>ABOUT</span>
            </a>
        </li>
        <!-- .nav-item -->

    </ul>
    <!-- ul.nav.flex-column -->

    <div class="sidebar-bottom mt-auto d-flex flex-wrap justify-content-center">
        
        
        <a href="https://github.com/cloudui" aria-label="github" target="_blank" rel="noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github" style="height: 28px"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>

        </a>






        <a href="https://twitter.com/below_ocean" aria-label="twitter" target="_blank" rel="noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter" style="height: 28px"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
        </a>






        <a href="javascript:location.href = 'mailto:' + ['ericchen314','gmail.com'].join('@')" aria-label="email">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send" style="height: 28px"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
        </a>

        <a href="https://instagram.com/violeric" aria-label="instagram" target="_blank" rel="noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram" style="height: 28px"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
        </a>


        
    </div>
    <!-- .sidebar-bottom -->

</div>
<!-- #sidebar -->